
/* You can add global styles to this file, and also import other style files */
@import './less/variables';
.link {
    font-family:Arial, Helvetica, sans-serif;
    &--tag {
        display: inline-block;
        padding: .5em;
        margin: .5em .2em;
        text-decoration:none;
        border-radius: 2em;
        border: 2px solid blueviolet;
    }
}

.frm {
    max-width: 100%;
    border-radius: 0;
     &--field {
        background: #fff;
        border: 1px solid #B3B3B3;
        width: 15em;
        padding: 1em 2.5em;
    }
    &--select {
        padding: .6em 1.4em .5em .8em;
        width: 5em;
        box-sizing:border-box;
        margin: 0;
        border: 1px solid  #B3B3B3;
        appearance: none;

    }
}

.btn {
    border-radius:0;
	display:inline-block;
	font-weight:500;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
    background:salmon;
    border:2px solid salmon;
    letter-spacing:1px;
    padding: 1em 2.5em;
    width: 5em;
    max-width: 100%;
    &--wide{
        width:100%;
    }
}

.hlp {
    &--ac {
        text-align: center;
    }
    &--al {
        text-align: left;
    }
    &--ar {
        text-align: right;
    }
 
    &--fl {
        float: left;
    }
    &--fr {
        float: right;
    }
    &--hidden {
        display: none;
    }
 
}

.wrp{
	margin:0 auto;
	max-width:@media_desktop;
	padding:1rem;
	&--loan_insights{
		@media (max-width: @media_tablet){
			display: flex;
			padding: 0 1rem !important;
		}
	}
}

.flex {
    display: flex;
    justify-content: center;
    &--column {
        flex-direction: column;
    }
    &--centered {
        justify-content: center;
    }
}