/* You can add global styles to this file, and also import other style files */
.link {
    &--tag {
        display: inline-block;
        padding: .5em;
        margin: .5em .2em;
        text-decoration:none;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 2em;
        border: 2px solid blueviolet;
    }
}

.frm {
     &-field {
        background: #fff;
        border: 1px solid #B3B3B3;
        border-radius: .25em;
        max-width: 100%;
        padding: .5em 1em;
    }
}

.btn {
    border-radius:.25em;
	display:inline-block;
	font-weight:500;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
    background:salmon;
    border:2px solid salmon;
    letter-spacing:1px;
}