<div class="wrp">
  <form #form="ngForm" (ngSubmit)="displaySearch()" class="frm">
    <div>
      <label for="searchField"></label>
      <select name="searchLanguage" [(ngModel)]="language" required>
          
        <option *ngFor="let language of languages" [value]="language">{{language}}</option>
      </select>
      <input type="search" name="searchWord" [(ngModel)]="searchWord" class="frm--field" placeholder="Search a word" required>
      <button type="submit" class="btn" [disabled]="!form.valid" ><i class="fa fa-search"></i></button>
    </div>
  </form>
  <h2 class="hlp--ac" *ngIf="searchResult">{{searchResult.length}} results</h2>
  <p *ngIf="searchResult">
    <a href="" class="link--tag" *ngFor="let item of searchResult" [routerLink]="['/detailsPage', language, item.word]">{{item.word}}</a>
  </p>
</div>
